html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #2b1055;
}

* {
    box-sizing: border-box;
}

canvas {
    display: block;
    margin: auto;
}